.squareTo {
  background: green;
  height: 250px;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 250px;
}

.squareFrom {
  background: red;
  height: 250px;
  left: 10%;
  position: absolute;
  top: 50%;
  width: 250px;
}